@using System.Activities.Expressions
@model ProEventApp.Models.IndexViewModel
@{
    ViewBag.Title = "Dashboard";
}


<div class="profile_data">
    <div>
        @foreach (var img in Model.ProfileImages)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(img.Image.Bytes)" width="250" height="250" />
        }
    </div>
    <div>
        <h3><span style="color: red">Name: </span>@Model.AppUser.Name</h3>
        <h3><span style="color: red">Surname: </span> @Model.AppUser.Surname</h3>
    </div>
</div>



<p class="text-success">@ViewBag.StatusMessage</p>


<div class="container1">
    <div>
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary" })
        }
    </div>


    <div>
        <p>
            @Html.ActionLink(linkText: "Offers from professionals", actionName: "ListInvFromProToEvent", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </p>
    </div>
    <div>
        <p>
            @Html.ActionLink(linkText: "List of matched events", actionName: "ListOfAcceptedEventsForAppUser", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        </p>
    </div>
    <div>
        <p>
            @Html.ActionLink(linkText: "Your Profile", actionName: "UserDetailProfileSpecific", routeValues: new { id = @Model.AppUser.Id }, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "Profiles")
        </p>
    </div>

    <div>
        <p>
            @Html.ActionLink(linkText: "Archive of events", actionName: "EventsArchive", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "AppEvents")
        </p>
    </div>


</div>



<style>
    .container1 {
        display: flex;
        align-items: center;
        display: inline-block;
        width: 70%;
    }
    .container1 > div {
        margin: 10px;
        display: inline-block;
        position:center;
    }

    .profile_data {
        display: flex;
    }
    .profile_data > div {
        margin: 10px;
        display: inline-block;
    }
    #red {
        color: red;
    }

</style>