@using System.Security.Cryptography
@using Microsoft.AspNet.Identity
@using ProEventApp.Models
@using WebGrease.Css.Ast.MediaQuery
@model IEnumerable<ProEventApp.Models.ProAdvertisement>


<head>
    @{
        ViewBag.Title = "IndexAdmin";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Open Sans', sans-serif;
            color: #222;
        }

        .card {
            height: 475px;
            width: 30%;
            box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
            border-radius: 4px;
            margin: 0 auto;
            margin-top: 5%;
        }

        .top {
            height: 55%;
            border-radius: 4px 4px 0px 0px;
            border: 1px solid #ddd;
            /* Setting a background image */
            background-image: url(https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-size: 100% 100%;
            padding: 0px 16px;
            color: white;
            font-size: 2em;
        }

        .name {
            padding-top: calc(475px * 0.40);
            margin: 0px;
        }

        .status {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 4px;
            border-radius: 5px;
            background-color: #60D156;
        }

        .title {
            margin-top: 8px;
        }

        .middle {
            height: 5%;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding: 0px 16px;
        }

        .time {
            color: #444;
            font-size: 0.8em;
            padding-top: 0.2em;
            font-size: 1em;
        }

        .bottom {
            height: 40%;
            border-radius: 0px 0px 4px 4px;
            border: 1px solid #ddd;
            padding: 8px 16px;
        }

        .profile-action {
            display: block;
            width: 100%;
            height: 32px;
            /* You could also just set the font family explicitly like we did for the body. */
            font-family: inherit;
            font-size: 1em;
            text-align: left;
            /* The border-radius property allows for round corners. */
            border-radius: 4px;
            border: 0px;
            background-color: white;
            /* This is how we changed the cursor to be a hand instead of an arrow. */
            cursor: pointer;
        }

            .profile-action:hover {
                background-color: #00A5D2;
                color: white;
            }

        section {
            display: flex;
            flex-wrap: wrap;
        }


        @@media screen and (max-width: 850px) {
            .card {
                width: 100%;
                background-size: 100% 100%;
                max-width: 400px;
            }
        }
    </style>
</head>
@if (Model.Any())
{
    <body>
    <h2>Advertisements</h2>

    <section id="flexwrappingSection">
        @foreach (var item in Model)
        {
            if (User.IsInRole(RoleName.Professional))
            {
                ApplicationDbContext _context = new ApplicationDbContext();
                var userId = User.Identity.GetUserId();
                var pro = _context.Professionals.SingleOrDefault(m => m.CurrentUserId == userId);
                var proId = pro.Id;
            }
            
            <div class="card">
                <div class="top">
                    <h3 class="name">@item.Professional.Name @item.Professional.Surname<span class=""></span>
                    </h3>
                    <p class="title">@item.Advertisement.Title</p>
                </div>
                <div class="bottom">
                    <h4 style="border: 2px solid #444444; height: 50%; overflow: scroll">@item.Advertisement.AdText</h4>
                    <button class="profile-action">
                        @Html.ActionLink(linkText: "Profile", actionName: "ProfileFromAds", routeValues: new {id = @item.ProfessionalId}, htmlAttributes: null, controllerName: "Profiles")
                    </button>

                    @*<p class="profile-action">
                                @Html.ActionLink(linkText: "Profile", actionName: "ProDetailProfileSpecific", routeValues: new { id = @item.ProfessionalId }, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "Profiles")
                            </p>*@

                    <button class="profile-action">
                        @Html.ActionLink(linkText: "Delete the add", actionName: "Delete", routeValues: new {id = item.Id}, htmlAttributes: null, controllerName: "ProAdvertisements")
                    </button>


                </div>
            </div>

        }
    </section>
    </body>
}
else
{
    <h1>No ads added.</h1>

}


