@model ProEventApp.ViewModels.AppEvent_ImageViewModel
@{
    ViewBag.Title = "AppEventDetailsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <h3 class="card-header">@Model.Event.Name</h3>
    <div class="card-body">
        <h5 class="card-title">@Model.Event.Description</h5>
        <h6 class="card-subtitle text-muted">Category: @Model.Event.Category.Name</h6>
    </div>


    @*<img style="height: 200px; width: 50%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">*@
    @foreach (var img in Model.EventImages)
    {
        <img src="data:image;base64,@System.Convert.ToBase64String(img.Image.Bytes)" width="250" height="250" />
    }


    <div class="card-body">
        <p class="card-text">Photo description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Event Status: @Model.Event.Status.Name</li>
        <li class="list-group-item">
            <p>City: @Model.Event.City.Name</p>
            <p>Street: @Model.Event.Street</p>
            <p>House Number: @Model.Event.HouseNumber</p>
        </li>

    </ul>
    <div class="card-body">
        <p>
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href = '@Url.Action("Index", "AppEvents")'">Back to your events</button>
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", "AppEvents", new { id = @Model.Event.Id }, new { @class = "btn btn-primary" })
            @*@Html.ActionLink(linkText: "Edit", actionName: "Edit",  routeValues: new { id = @Model.Event.Id },controllerName:"AppEvents")*@
        </p>
        
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

<div>
    <p>
        @Html.ActionLink(linkText: "Back to the list", actionName: "ListInvFromProToEvent", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "Manage")
    </p>
</div>

<br />
<div>
    <p>
        @Html.ActionLink(linkText: "Back to the dashboard", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "Manage")
    </p>
</div>


