@model IEnumerable<ProEventApp.Models.AppEvent>

@{
    ViewBag.Title = "EventsArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>Archive of events</h2>
@if (!Model.Any())
{
    <p>You don't have any done events yet.</p>
    <p>
        @Html.ActionLink("Go to your dashboard", "Index", "Manage", null, new { @class = "btn btn-primary" })
    </p>
}
else
{
    
    <table class="table table-bordered table-hover table-dark table-striped">
        <thead class="bg-primary">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Category</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _event in Model)
            {
                <tr>
                    <td>@_event.Name</td>

                    <td>@_event.Description</td>

                    <td>@_event.Category.Name</td>

                    @*<td>@Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "AppEvents", routeValues: new { @id = _event.Id })Details</td>*@
                    <td><a href="@Url.Action("DetailsArchiveForPro","AppEvents",new {_event.Id})">Details</a></td>

                </tr>
            }
        </tbody>
    </table>
}

