@model ProEventApp.ViewModels.ProEventsListIndexViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">Events on FindPro!</h1>
<br />
@if (!Model.AppEvents.Any())
{
    <p>We don't have any events yet.</p>
    <h1>Advertise your services!</h1>
    <p>
        @Html.ActionLink("Add new event!", "New", "AppEvents", null, new { @class = "btn btn-primary" })
    </p>
}
else
{

    @*<p>
            @Html.ActionLink("Add new event!", "New", "AppEvents", null, new { @class = "btn btn-primary" })
        </p>*@
    <h2 class="text-muted">Find events by #tags</h2>

    using (Html.BeginForm("ListOfEventsByTags", "AppEvents"))
    {
        <p>
            <h3 class="text-muted">Type <strong>#tags</strong>:</h3> <input type="text" name="search_query" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    }
    <h2 style="color: red">Events in your category</h2>
    <table class="table table-bordered table-hover table-dark table-striped">
        <thead class="bg-primary">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Category</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _event in Model.ProCategoryList)
            {
                <tr>
                    <td>@_event.Name</td>

                    <td>@_event.Description</td>

                    <td>@_event.Category.Name</td>

                    <td><a href="@Url.Action("DetailsForPro","AppEvents",new {_event.Id})">Details</a></td>

                </tr>
            }
        </tbody>
    </table>

    <h2 style="color: red">All events</h2>
    <table class="table table-bordered table-hover table-dark table-striped">
        <thead class="bg-primary">
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Category</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _event in Model.AppEvents)
            {
                <tr>
                    <td>@_event.Name</td>

                    <td>@_event.Description</td>

                    <td>@_event.Category.Name</td>

                    <td><a href="@Url.Action("DetailsForPro","AppEvents",new {_event.Id})">Details</a></td>

                </tr>
            }
        </tbody>
    </table>
}

