@model IEnumerable<ProEventApp.Models.Professional>
@{
    ViewBag.Title = "ProsByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Professionals in category of your event:</h2>

@*<table class="table table-bordered table-hover table-dark table-striped">*@
<table class="table table-bordered table-hover table-dark table-striped">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyWWW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession.Name)
            </th>
            <th></th>
        </tr>
       </thead>
    <tbody>
    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyWWW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession.Name)
                </td>
                <td>
                    @Html.ActionLink("Give an offer", "NewInvToEvent", new { id = item.Id }) |
                </td>
            </tr>
        }
     </tbody>

</table>

@*<div>
    <button class="btn btn-primary">
        @Html.ActionLink("Back to List", "Index")
    </button>
</div>*@

<br />
<div>
    <p>
        @Html.ActionLink(linkText: "Back to the list", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
</div>

