@model ProEventApp.Models.State
@{
    ViewBag.Title = "StateForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New State</h2>
@using (Html.BeginForm("Save", "States"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>


    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}




@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}





