@model ProEventApp.ViewModels.ProfileViewModel



<div class="card mb-3">
    <h2 class="card-header">
        @Model.Professional.Name @Model.Professional.Surname
        <h4>Prefered name: @Model.Profile.PreferedName</h4>
    </h2>
    <div class="card-body">

        @foreach (var img in Model.ProfileImages)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(img.Image.Bytes)" width="250" height="250" />
        }


        <div class="card-body">
            <p class="card-text">About: @Model.Profile.About</p>
        </div>

        <h5 class="card-title">Phone: @Model.Professional.Phone <br /> e-mail: @Model.Professional.Email </h5>
        <h5 class="card-title">Company: @Model.Professional.CompanyName <br /> website: @Model.Professional.CompanyWWW <br /> NIP: @Model.Professional.NIP </h5>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Motto: @Model.Profile.Motto</li>>
    </ul>

    @if (Model.UserProComments.Any())
    {
        <table class="table table-bordered table-hover table-dark table-striped">
            <thead class="bg-primary">
            <tr>
                <th>Comment</th>
                <th>Who</th>
                <th>Added</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var comment in Model.UserProComments)
            {
            <tr>
                <td>@comment.Comment.Content</td>
                <td>@comment.Comment.DateCreated</td>
                <td>@comment.Comment.Who</td>
            </tr>
            }
            </tbody>
        </table>
    }
    <div>
        @using (Html.BeginForm("AddCommentToUser", "Profiles"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Comment.Content)
                @Html.TextBoxFor(m => m.Comment.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Comment.Content)
            </div>

            @Html.HiddenFor(m => m.Comment.Id)
            <button type="submit" class="btn btn-primary">Comment</button>
        }
    </div>


    @*<div class="card-body">
        @Html.ActionLink("Change profile's photo", "AddImg", "Profiles", new { id = @Model.Profile.Id }, new { onclick = "return confirm('Are you sure you want to change your profile photo?');" })
    </div>*@

</div>

<div>
    @Html.ActionLink(linkText: "Back", actionName: "ListInvFromProToEvent", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }, controllerName: "Manage")
</div>

<div>
    @Html.ActionLink(linkText: "Back to dashboard", actionName: "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" },controllerName:"Manage")
</div>
